---
import StaticHeader from "~/components/header-static.astro";
import Footer from "~/components/footer-min.astro";
import "@fontsource-variable/inter";
import "~/styles/index.css";
import { siteConfig } from '~/site.config';

// Add other imports that your layout needs
const { generator, site } = Astro;
const image = new URL(siteConfig.image, site);
---

<!doctype html>
<html lang="en" class="h-full motion-safe:scroll-smooth" data-theme="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- favicon -->
    <link rel="icon" href="/logo-rapidly-dark.svg" type="image/svg+xml" /> 
    <meta name="generator" content={generator} />

    <title>{siteConfig.sitename}</title>
    <meta name="description" content={siteConfig.description} />

    <!-- social media -->
    <meta property="og:title" content={siteConfig.sitename} />
    <meta property="og:type" content="website" />
    <meta property="og:description" content={siteConfig.description} />
    <meta property="og:image" content={image} />
    <meta property="og:url" content={site} />
    <meta name="twitter:card" content="summary_large_image" />

    <!-- initialize theme -->
    <script is:inline>
      const themeSaved = localStorage.getItem("theme");

      if (themeSaved) {
        document.documentElement.dataset.theme = themeSaved;
      } else {
        const prefersDark = window.matchMedia(
          "(prefers-color-scheme: dark)",
        ).matches;
        document.documentElement.dataset.theme = prefersDark ? "dark" : "light";
      }

      window
        .matchMedia("(prefers-color-scheme: dark)")
        .addEventListener("change", (event) => {
          if (!localStorage.getItem("theme")) {
            document.documentElement.dataset.theme = event.matches
              ? "dark"
              : "light";
          }
        });
    </script>

    <script defer data-domain="rapidsystemshub.com" src="https://plausible.io/js/script.js"></script>
  </head>

  <body class="h-full overflow-x-hidden bg-default text-default text-base selection:bg-secondary selection:text-white">
    <StaticHeader />
    <div class="flex scroll-mt-24 flex-col items-center gap-4 space-y-8">
      <slot />
    </div>

    <Footer />
  </body>
</html>

<style>
  body {
    margin-top: 70px;
  }
</style>


